[Desktop Entry]
Type=Application
Terminal=false
GenericName[es_AR]=INTERNOS
GenericName=INTERNOS
Exec=iceweasel --new-tab http://server4.usuarios.inaes/internos/
Comment[es_AR]=acceso directo a internos
Name=INTERNOS
Comment=acceso directo a internos del inaes
Icon=alacarte
Categories=Office;
StartupWMClass=internos
StartupNotify=true



