#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=gpk-service-pack
Name[es_AR]=INTERNOS
Exec=iceweasel --new-tab http://server4.usuarios.inaes/internos/
Comment[es_AR]=acceso directo a internos
Name=INTERNOS
Comment=acceso directo a internos
Icon=iceweasel
