#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=gpk-service-pack
Name[es_AR]=INTERNOS
Exec=iceweasel --new-tab http://server4.usuarios.inaes/internos/
Comment[es_AR]=acceso directo a internos
Name=INTERNOS
Comment=acceso directo a internos
Icon=iceweasel

#[Desktop Entry]
#Encoding=UTF-8
#Name=Padron
#Comment=Hack to get Padron Working, ask not
#Comment[es]=Padron 'portado' a Linux
#Comment[fr]=Padron 'porte' a Linux
#GenericName=Padron System
#GenericName[es]=Sistema Padron
#GenericName[fr]=Systeme Padron
#X-GNOME-FullName=Padron
#Exec=hackpadron.sh
#Terminal=false
#X-MultipleArgs=false
#Type=Application
#Icon=hackpadron
#Categories=Office;
#StartupWMClass=Hack-Padron
#StartupNotify=true

