[Desktop Entry]
Type=Application
Terminal=false
Name[es_AR]=lanzador de información 
Name=lanzador de información 
Exec=iceweasel --new-tab http://sistemas.produccion.inaes/lanzador/
Comment[es_AR]=acceso directo a lanzador
Comment=acceso directo a lanzador
Icon=baobab
Categories=Office;
StartupWMClass=lanzador
StartupNotify=true

