[Desktop Entry]
Type=Application
Terminal=false
Exec=iceweasel --new-tab http://sistemas.produccion.inaes/WA_PanelControl/PaginaInicio.aspx
Comment[es_AR]=acceso directo al panel de control
Name[es_AR]=panel de control
Name=panel de control
Comment=acceso directo al panel de control
Icon=gnome-cpu-frequency-applet
Categories=Office;
StartupWMClass=PanelDeControl
StartupNotify=true

