[Desktop Entry]
Type=Application
Terminal=false
Name[es_AR]=Reempadronamiento
Exec=iceweasel --new-tab http://sistemas.produccion.inaes/wa_reempadronamiento/
Comment[es_AR]=acceso directo a reempadronamiento
Name=Reempadronamiento
Comment=acceso directo a reempadronamiento
Icon=gnome-panel-launcher
Categories=Office;
StartupWMClass=reempadronamiento
StartupNotify=true

